@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #224463;
  background-color: rgb(246, 247, 248);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 400;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

#canvas {
  border-radius: 8px;
  border: 1px solid #bbb;
  max-width: 900px;
}

@media (max-width: 900px){
  .canvas-wrapper{
    aspect-ratio: 900/250;
  }
}

@media (min-width: 900px){
  .canvas-wrapper{
    height: 250px;
    width: 100%;
  }
}